# Ignore all files in myfolder
myfolder/*
.ipynb_checkpoints
batsman_season_record.csv
batter.csv
big-array.npy
example.png
gayle-175.csv
sharma-kohli.csv
vk.csv
# Allow only this file
!myfolder/Intro_Matplotlib.ipynb
